*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial, sans-serif';
    background-color: rgba(31, 228, 162, 0.526);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: all .3s ease-in-out;
}
header:hover{
    background-color: aqua;
}
.banner{
    height: 350px;
    width: 100%
}
.yo{
    height: 70px;
}
div{
    font-size: 20px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin-left: 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(86, 86, 86);
    font-size: 18px;
    transition: all .3s ease-in-out;
}
nav ul li a:hover{
    color:black;
    scale: 1.2px;
}
.descripcion h1, p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px;
}
.aboutme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.aboutme ul li{
    padding: 10px;
    font-size: 20px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.contact input, label{
    display: flex;
    flex-direction: column;
    width: 50vh;
    border-radius: 10px;
    border: 0;
    font-size: 20px;

}
.contact .comentario{
    height: 100px;
}
.btn-container{
    margin-top: 10px;
}
.btn{

    background-color: rgb(50, 109, 245);
    height: 30px;
    width: 300px;
    border-style: none;
    border-radius: 20px;
}